*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  font-family: sans-serif;
  background-color: var(--color-secondary);
}

:root {
  --color-primary: #443b5d;
  --color-secondary: #eecccc;
  --header-bg: hsla(256, 22%, 30%, 0.9);
}

.heading-2 {
  font-size: 3.2rem;
}

.heading-3 {
  font-size: 2.5rem;
}

.icon {
  height: 2.4rem;
}

#container {
  background-color: var(--color-secondary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: var(--header-bg);
  box-shadow: -1px 10px 10px -1px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
}

.logo {
  height: 10rem;
}

.nav {
  flex-grow: 0.7;
  display: flex;
  justify-content: space-around;
}

.nav__item {
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
  transition: all 0.2s;
}

.btn:active {
  transform: scale(0.9);
}

.btn--login {
  font-size: 2.8rem;
  font-weight: bold;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.detail {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 100vh;
  margin: 4rem auto;
}

.banner {
  height: 5rem;
  background-color: var(--color-primary);
}

.doc {
  display: flex;

  padding: 2rem;
  margin-top: 4rem;
}

.doc__img {
  height: 35rem;
}

.doc__content {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doc__category {
  font-weight: lighter;
  margin-top: 1rem;
}

.doc__name {
  margin-top: 2rem;
}

.address {
  font-size: 2rem;
  margin-top: 4rem;
}

.address p {
  margin-bottom: 1rem;
}

.stars {
  margin-top: auto;
}

.statement {
  margin: 2rem auto;
}

.statement h3 {
  font-size: 2.4rem;
  padding-left: 1rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);

  display: flex;
  align-items: center;
}

.statement__text {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 5rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 3px;
}
