body{
    background-color: #EECCCC;
}
.navbar{
    justify-content: center;
    background-color: #443b5d;
    height: 80px;
}
.nav >li{
    /* justify-content: center; */
    list-style: none;
    display:inline-flex;
    /* justify-content: space-between; */
    margin: 17px;
    right: 100px;
    color: #EECCCC;
    font-size: 30px;
}
.button{
    font-size: 25px;
    float: right;
    padding: 6px;
    margin: 23px;
    color: #443b5d;
    background-color: #EECCCC;
}
#image{height: 80px;}

.nav{text-align: center;
      bottom: 80px;
      position: relative;

}
.about{
    height: 300px;
}
#image2{
    height: 300px;
    padding: 25px;
    margin: 25px;
}
.float{
    float: right;
}
.choose{
    background-color: #443b5d;
    height: 300px;
}
#center{text-align: center;}
.display{
    display: flex;
    justify-content: space-evenly;
}