/* *,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: sans-serif;
}

:root {
  --color-primary: #443b5d;
  --color-secondary: #eecccc;
  --header-bg: hsla(256, 22%, 30%, 0.9);
}

#container {
  background-color: var(--color-secondary);
}

.heading-2 {
  font-size: 3.2rem;
}

.heading-3 {
  font-size: 2.5rem;
}

.icon {
  height: 2.5rem;
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
  transition: all 0.2s;
}

.btn:active {
  transform: scale(0.9);
}

.btn--login {
  font-size: 2.8rem;
  font-weight: bold;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 2rem;
}

.listing {
  width: 90%;
  display: flex;
  padding: 2rem;
  margin: 2rem;
  border-bottom: 1px solid var(--color-primary);
}

.listing__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing__img {
  height: 28rem;
  cursor: pointer;

  transition: all 0.2s;
}

.listing__img:hover {
  filter: brightness(0.9);
}

.loc {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.loc p {
  font-size: 1.6rem;
}

.listing__right {
  display: flex;
  flex-direction: column;

  margin-left: 2rem;
}

.listing__category {
  font-weight: lighter;
}

.listing__title {
  margin-top: 3rem;
}
.listing__text {
  margin-top: 3rem;
  font-size: 2rem;
}

.stars {
  margin-top: auto;
  margin-bottom: 1rem;
}

.btn--book {
  font-size: 2.8rem;
  font-weight: bold;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  align-self: flex-end;
}
