:root {
  --color-primary: #443b5d;
  --color-secondary: #eecccc;
  --header-bg: hsla(256, 22%, 30%, 0.9);
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: -50px;
  right: -50px;
  font-size: 50px;

  color: #333;
  cursor: pointer;
  border: none;

  background-color: chartreuse;
  height: 50px;
  width: 50px;

  /* Center the 'X' icon */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 15; /* On top of the overlay */
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: ivory;
  width: 350px;
  height: 350px;

  padding-bottom: 20px;

  z-index: 10; /* On top of the overlay */
}

.login__title {
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 10px 30px;
  height: 80%;
}

.login label {
  font-size: 20px;
  color: var(--color-primary);
}

.login input {
  border: none;
  background-color: #dcdcdc;

  font-size: 18px;
  padding: 10px 20px;
  border-radius: 100px;
}

.login input:focus {
  outline: none;
}

#btnSubmit {
  background-color: var(--color-secondary);
  align-self: center;
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
