html {
  padding: 4rem;
}

header {
  background-color: #eecccc;
  height: rem;
  font-family: "Poppins";
  position: relative;
}

.logo-img {
    float: left;
}

/*nav*/

.header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  width: 100%;
  align-items: center;
  
  display: flex;
  background-color: #443b5d;
}
nav ul li {
  padding: 1rem;
  list-style-type: none;
  display: inline-flex;
  margin-top: -10rem;
}

nav ul li a:hover {
  color: #8b5d4f;
}

ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #eecccc;
  
}

.btn1 {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-style: solid;
  border-width: 0.4rem;
  border-color: #eecccc;
  background-color: #eecccc;
  font-family: 'poppins';
  font-size: 1.4rem;
  color: #443b5d
}

/*body*/

.body {
  background-color: #eecccc;
  height: 80%;
}

.heading1 {
  color: #443b5d;
  text-align: center;
  font-family: "josefin sans";
  font-weight: bolder;
  padding-top: 4rem;
  font-size: 1.5rem;
}

.heading2 {
  color: #8b5d4f;
  font-family: "josefin sans";
  text-align: center;
  font-weight: bolder;
  border-bottom: solid #443b5d;
  border-width: 0.5 rem;
  border-bottom-left-radius: 1px;
  font-size: 1.3rem;
}

/*service1*/

.service1 > h2 {
  text-align: left;
  margin-left: 4rem;
  font-family: "josefin sans";
  margin-top: 4rem;
}

.service1 > p {
  margin-top: 2rem;
  text-align: left;
  font-family: "EB garamond";
  margin-left: 4rem;
  padding-bottom: 10rem;
  font-size: 1.2rem;
  border-bottom: solid #443b5d;
  border-width: rem;
  padding-bottom: 10rem;
  
}

/*service1 image*/

img {
  float: right;
  width: 40%;
  margin-top: -34rem;
}

/*service2*/

.service2 > h2 {
  margin-right: 4rem;
  text-align: right;
  font-family: "josefin sans";
  
  
}

.service2 > p {
  margin-right: 4rem;
  text-align: right;
  font-family: "EB garamond";
  font-size: 1.3rem;
  margin-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: solid #443b5d;
  border-width: rem;
  
}

.image2 {
  float: left;
  margin-top: -34rem;
 
}


/*service3*/
#service34 {
    display: flex;
}

.service3 {
    margin-top: 10%;
  padding: 2rem;
  padding-top: 15rem;
  background-color: #443b5d57;
  border: 1px solid #eecccc;
  border-radius: 12px;
  height: 50%;
  padding-top: 5%;
  width: 35%;
  text-align: center;
  align-items: center;
  margin-left: 5%;
  padding-bottom: 4%
  
}

.service3 > h2 {
  font-family: "josefin sans";
  
}
 .service3>p {
    
    text-align: left;
    font-family: "EB garamond";
    font-size: 1.3rem;
    padding-bottom: rem;
    margin-top: 34rem;
 }

 .image3 {
     width: 100%;
     height: 100%;
     float: left;
     margin-top: 0.1rem;
 }

 /*service4*/


.service4 {
    margin-top: 10%;
  padding: 2rem;
  padding-top: 15rem;
  background-color:#8b5d4f5e;
  border: 1px solid #eecccc;
  border-radius: 12px;
  height: 50%;
  padding-top: 5%;
  width: 35%;
  text-align: center;
  align-items: center;
  margin-left: 5%;
  padding-bottom: 4%
  
}

.service4 > h2 {
  font-family: "josefin sans";
  
}
 .service4>p {
    
    text-align: left;
    font-family: "EB garamond";
    font-size: 1.3rem;
    padding-bottom: rem;
    margin-top: 34rem;
 }

 .image4 {
     width: 100%;
     height: 100%;
     float: left;
     margin-top: 0.1rem;
 }


/*footer*/

footer{
    height: 50rem;
    background-color: #443b5d;
    color: #eecccc;
}

footer h4 {
    font-family: 'josefin sans';
    font-size: 1.6rem;
    padding-top: 6rem;
    text-align: center;
    font-weight: bolder;
}

footer p{
    font-family: 'EB garamond';
    font-size: 1.4rem;
    text-align: center;
}
.image5 {
    height: 50%;
    width: 60%;
    float: left;
    margin-top: 4%;
    margin-left: 5rem;
}

.logo-img1 {
    width: 12%;
    height: 20%;
    float:left;
    margin-left: -65.84%;
    margin-top: 21.3%;
}
.icons a {
    color: #eecccc;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
}

iframe{
    float: right;
    margin-top: 5.8rem;

}

.icons {
    text-align: center;
    float: left;
margin-left: 30%;
margin-top: 15%;



}






