/* header {
  background-color: #443b5d !important;
  height: 140px;
  color: #eecccc;
}

nav ul {
  display: flex;
  padding-right: 30px;
  font-size: 30px;
  font-weight: 800;
  list-style-type: none;
  margin-left: 80px;
  color: #eecccc;
}

.btn a {
  color: #443b44;
}

nav li {
  margin: 30px;
  color: #eecccc;
  margin-left: 30px;
}

li a {
  text-decoration: none;
  color: white;
}

.btn {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 180px;
  font-size: 25px;
  font-weight: 800;
  background-color: #eecccc;
  color: #443b5d;
}

.logo {
  padding-right: 50px;
  width: 200px;
  height: 138px;
} */

header {
  background-color: #443b5d;
  height: 120px;
}
ul {
  color: #eecccc;
  font-size: 30px;
  font-weight: 800;
  margin-top: -5px;
  margin-right: 1px;
  padding-top: 14px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 60px;
  margin-left: 35px;
  margin-top: 25px;
  float: right;
}

li a {
  text-decoration: none;
  color: #eecccc;
}

.btn {
  padding: 8px;
  width: 130%;
  background-color: #eecccc;
  color: #443b5d;
  font-size: 25px;
  font-weight: 800;
}

.active {
  color: #8b5d4f;
}
.sec-1-img {
  float: right;
  width: 50%;
  height: 500px;
  margin-right: 400px;
}

h2 {
  margin-left: 10px;
  color: #8b5d4f;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
}

h3 {
  color: #8b5d4f;
  font-weight: 800;
  font-size: 29px;
  margin-left: 40px;
  margin-top: 40px;
  width: 40%;
}
Fsec span {
  color: #443b5d;
}

.section-1 > p {
  margin-left: 30px;
  font-size: 30px;
  margin-top: 20px;
  color: #443b5d;
}

.container-form {
  background-color: #443b5d;
  margin-left: 300px;
  margin-right: 250px;
  color: #eecccc;
  margin-bottom: 20px;
  font-size: 20px;
}

/* footer {
  display: flex;
  background-color: #443b5d;
  height: 160px;
  color: #eecccc;
}

.footer-logo {
  flex: 1;
  width: 30%;
}

.footer-article {
  flex: 1;
  font-size: 20px;
  color: #eecccc;
}
.map {
  flex: 1;
} */

/*form*/
input[type="text"],
select,
textarea {
  width: 60%;
  padding-left: 100px;
  padding: 12px;
  border: 1px solid #eecccc;
  border-radius: 0px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #7c5d5d;
  color: #eecccc;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 30px;
}

input[type="submit"]:hover {
  background-color: #ffffff;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.container .span {
  color: #443b5d;
}

.container-form form {
  color: #eecccc;
  margin-left: 150px;
  padding-top: 50px;
}

.container {
  background-color: #eecccc;
}

.section-1 {
  margin-left: 200px;
  margin-top: 450px;
}

.main {
  margin-left: 250px;
  margin-top: 100px;
}

.glyphicons {
  padding: 30px;
  margin-left: 100px;
}

.fa-instagram {
  background: #443b44;
  color: #eecccc;
  margin: 20px;
}

.fa-linkedin {
  background: #443b44;
  color: #eecccc;
}

.fa-twitter {
  background: #443b44;
  color: #eecccc;
}

.fa-facebook {
  background: #443b44;
  color: #eecccc;
  margin: 20px;
}
