
header {
    background-color: #443b5d !important;
}


nav ul {
    display: flex;
    padding-right: 30px;
    font-size: 30px;
    font-weight: 800;
    list-style-type: none;
    margin-left: 200px;
    
}
nav li {
    margin: 30px;
    color: #ffffff;
    margin-left: 30px;
}
.btn {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 180px;
    font-size: 25px;
    font-weight: 800;
    background-color: white;
    color: #443b5d;
}
z
.logo {
    padding-right: 50px;
    width: 200px;
    height: 200px;
}
.active {
    color: #8b5d4f;
}
.sec-1-img {
    float: right;
    width: 50%;
    height: 500px;
    margin-right: 400px;
}

h2 {
    margin-left: 10px;
    color: #8b5d4f;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
}

h3 {
    color: #8b5d4f;
    font-weight: 800;
    font-size: 29Px;
    margin-left: 40px;
    margin-top: 40px;
    width: 40%;
}Fsec

span {
    color: #443b5d;
}

.section-1 > p {
    margin-left: 30px;
    font-size: 30px;
    margin-top: 20px;
    color: #443b5d;
}


.container-form {
    background-color: #443b5d;
    margin-left: 300px;
    margin-right: 250px;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;

}

footer {
    display: flex;
    background-color: #443b5d;
    height: 160px;
}

.footer-logo {
    flex: 1;
  width: 10%;  
}

.footer-article {
    flex: 1;
    font-size: 20px;
    color: #ffffff; 
}
.map {
    flex: 1;
}



/*form*/
input[type=text], select, textarea {
    width: 60%;
    padding-left: 100px;
    padding: 12px;
    border: 1px solid #eecccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  } 
  
  input[type=submit] {
    background-color: #7c5d5d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  
  input[type=submit]:hover {
    background-color: #ffffff;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .container .span {
       color: #443b5d;
  }

  
  .container-form form {
      color: #ffffff;
      margin-left: 150px;
      padding-top: 50px;
      
  }

  
  .container {
      background-color: #eecccc;
  }

  .section-1 {
      margin-left: 200px;
      margin-top: 450px;
  }

  .main {
    margin-left: 250px;
    margin-top: 100px;
  }
       